<!doctype html>
<html ng-app="root">
  <head>
    <title>Web Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/root.js"></script>
    <link rel="stylesheet" href="/css/index.css">

    <!--Material Design Lite library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-orange.min.css" />    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body ng-controller="index">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <!-- Purple header -->
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Web Store</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <!-- Right header links -->
            <a class="mdl-navigation__link" href="">About</a>
            <a class="mdl-navigation__link" href=""><div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{itemsInCart}}">shopping_cart</div></a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Web Store</span>
        <nav class="mdl-navigation">
          <!-- Sidebar links -->
          <a class="mdl-navigation__link" href="">Category 1</a>
          <a class="mdl-navigation__link" href="">Category 2</a>
        </nav>
      </div> 
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- MAIN PAGE CONTENT -->

          <!-- Product cards repeated with ngRepeat -->
          <div class="product-card mdl-card mdl-shadow--2dp" ng-repeat="product in products">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{product.name}}</h2>
            </div>
            <div class="mdl-card__supporting-text">{{product.description}}</div>
            <div class="mdl-card__actions mdl-card--border">
              <table>
                <tr>
                  <td>
                    <b>{{product.price | currency}} USD</b>
                    <span>|</span>
                  </td>
                  <td ng-repeat="currency in currencies">
                    <b>{{product.price / currency.exchangeRate | number}}</b>
                    <img src="{{currency.icon}}" alt="{{currency.ticker | uppercase}} style="fill: {{currency.iconColor}}; height="18px">
                    <span ng-if="!$last">|</span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="addToCart(product.name)">
                <i class="material-icons">add_shopping_cart</i>
              </button>
            </div>
          </div>
          <!-- End product cards -->

        </div>
        <!-- "Add to cart" Snackbar -->
        <div id="add-to-cart-snackbar" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>
          <button class="mdl-snackbar__action" type="button"></button>
        </div>
      </main>
    </div>
  </body>
</html>