<html ng-app="root">
  <head>
    <title>Web Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/root.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>