store-product-card {
    width: 550px;
    margin: 10px auto;
    cursor: pointer;
}

.product-card > .md-card-image   {
    height: 256px;
    object-fit: cover;
}

.product-info-image {
    height: 512px;
    object-fit: cover;
}

.caption {
    color: gray;
    letter-spacing: 1px;
}

.delete-column {
    padding: 0px;
    max-width: 12px;
    min-width: 12px;
    width: 12px;
}

.receive-address {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    padding: 8px;
    border: #eee;
    background-color: #eee;
    border-radius: 4px;
}

.order-id {
    color: gray;
}