.product-card {
    width: 550px;
    margin: 10px auto;
    cursor: pointer;
}

.product-card > .md-card-image   {
    height: 256px;
    object-fit: cover;
}

.product-info-image {
    height: 512px;
    object-fit: cover;
}