<md-card class="product-card" ng-click="vm.showProductInfo($event)">
    <img src="{{vm.product.image}}" class="md-card-image" alt="{{vm.product.name}}">
    <md-card-content>
        <h2>{{vm.product.name}}</h2>
        <p ng-bind-html="vm.product.description | limitToWord: 150"></p>
    </md-card-content>
    <md-card-footer>
        <!-- Available currencies -->
        <table width="100%">
            <tr>
                <td flex align="center">
                    <b>{{vm.product.price | currency}} USD</b>
                </td>
                <td flex ng-repeat="currency in vm.currencies" align="center">
                    <b style="vertical-align:middle">{{vm.product.price / currency.exchangeRate | number}}</b>
                    <img src="{{currency.icon}}" alt="{{currency.ticker | uppercase}}" height="20px" style="vertical-align:middle">
                </td>
            </tr>
        </table>
    </md-card-footer>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-accent" ng-click="$event.stopPropagation(); vm.addToCart()">Add to Cart</md-button>
    </md-card-actions>
</md-card>